{% extends "base.html" %}

{% block content %}

	<div id="page_header"> Handle Music </div>
	<form method="post" action="">
		{% for fields in form %}
			{{ fields.label_tag }} : {{ fields }} <br/><br/>
		{% endfor %}
	
	<input type="submit" name="submit" />
	<input type="submit" name="catalog_drive" value="Catalog Drive" />
	<input type="submit" name="filter_nzbs" value="Filter NZBs" />
	<input type="submit" name="fix_albums" value="Fix Albums" />
	
	{% if copies %}
		<h2>{{ num_of_copies }} Copies found</h2>
		{% for files in copies %}
			{{ files }}<br />
		{% endfor %}
	{% endif %}
	
	{% if problems %}
		<h2>Problem</h2>
		{% for files in problems %}
			{{ files }}<br />
		{% endfor %}
	{% endif %}
		
	{% if cataloged %}
		<h2>Cataloged Files</h2>
		{% for files in cataloged %}
			{{ files }} <br />
		{% endfor %}
	{% endif %}
	
	
	{% if file_list %}
		<h2>File List</h2>
		{% for files in file_list %}
			----{{ files }}<br />
		{% endfor %}
	{% endif %}	
	
	{% if duplicates %}
		<h2>Duplicates found</h2>
		{% for files in duplicates %}
			----{{ files }}<br />
		{% endfor %}
	{% endif %}		
		
{% endblock %}