body { 
	margin:0; 
	padding:0; 
	font-size:12px; 
	font-family:Volkhov; 
	color:black;
	background: #F7F7F7;
	}

	
#site_header_wrapper { 
    background: url("/static/images/site_header.jpg") repeat scroll 0 0 #DDDDDD;
    height: 80px;
    margin: 0;
    width: 100%;
}

#site_header {
    color: #575757;
    font-size: 60px;
    text-shadow: 3px 0 8px white;
    width: 100%;
}

#site_title {
	margin: 20px 30px;
}


#site_body {
	margin		: auto;
	width		: 100%;
}
	
	
.nav_button {
	height: 100%;
	margin: auto;
	width: 811px;
}

.nav_button a {
	background: url('/static/images/main_menu_bg.jpg') white;
	border: 1px solid #CCC;
	color: #666666;
	display: inline-block;
	font-size: 20px;
	margin: 10px -2px;
	text-decoration: none;
	text-align: center;
	text-shadow: 0 0 1px #999999;
	padding: 10px 0px;
	width: 200px;
}

.nav_button a:hover {  
	text-shadow: 0 0 2px #777777;
}

#page_header {
    color: #10448C;
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom	: 20px; 
    display		: inline;
}

#content {
    margin: 10px 30px;
    padding-bottom: 130px;
}

.nav_header {
	font-size	: 18px;
	font-weight	: bold;
	color		: #555555;
}

.header_button {
    height: 100%;
}

.header_button a {
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #CCCCCC;
    color: #666666;
    font: bold 16px arial,sans-serif;
    margin: 7px 0;
    padding: 4px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 160px;
}

.header_button a:hover {  
    border: 1px solid #848181;
    }
        
.form th {
	text-align:right;
	vertical-align:top;
}

.form td {
	vertical-align:top;
}

.odd {
	background-color: #FFFFFF;
}

.even {
	background-color: #f1f1f1;
	}	

 
#submit_button{
 	background		: #898989;
 	color			: #FFFFFF;
 	border			: none;
 	padding			: 3px;
 	box-shadow			: 0 0 1px #000000;
 	-moz-box-shadow		: 0 0 1px #000000;
 	-webkit-box-shadow	: 0 0 1px #000000;
 }
 
#submit_button:hover {
 	box-shadow			: 0 0 3px #000000;
 	-moz-box-shadow		: 0 0 3px #000000;
 	-webkit-box-shadow	: 0 0 3px #000000;
 	background			: #707070;
 	
 }
 
#show_hide_drives_list {
	display	: inline;
}

#hide_drive_list,
#show_drive_list  {
	display 	: inline;
	color		: #4C79B5;
	cursor		: pointer;
}

#delete_option {
	cursor		: pointer;
}

#login_form {
	padding: 200px;
	background: #DDDDDD;
	width: 510px;
	margin: auto;
	margin-top: 75px;
}

#login_form form{
	text-align: center;
}

#login_form label {
	font-size	: 22px;
}

input:-webkit-autofill {
	background: #f7f7f7 !important;
}

#login_form input[name="username"], input[name="password"] {
	width: 190px;
	height: 30px;
	font-size: 19px;
	background: #f7f7f7 !important;
	text-align	: center;
	box-shadow	: 0 0 5px #000000;
	border		: 2px solid #FFFFFF;
}

#login_form p {
	color: #721D0E;
	padding: 5px 27px;
}

#login_form tr {
	height	: 40px;
}

#footer_wrapper {
	bottom			: 0;
	color			: #FFFFFF;
    height			: 112px;
    width			: 100%;   
    z-index			: 2; 
    position		: fixed;
}

#footer {
	bottom: 0;
	color: white;
	height: 112px;
	width: 1440px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: 1px solid #DDD;
}

/* Rounded Corners */
               
.round-top{
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
}

.rounder-top{
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}

.roundest-top{
    -moz-border-radius-topleft: 12px;
    -moz-border-radius-topright: 12px;
    -webkit-border-top-left-radius: 12px;
    -webkit-border-top-right-radius: 12px;
}

.round {
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
}

.rounder {
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

.roundest {
    -moz-border-radius-topleft: 12px;
    -moz-border-radius-topright: 12px;
    -webkit-border-top-left-radius: 12px;
    -webkit-border-top-right-radius: 12px;
    -moz-border-radius-bottomleft: 12px;
    -moz-border-radius-bottomright: 12px;
    -webkit-border-bottom-left-radius: 12px;
    -webkit-border-bottom-right-radius: 12px;
}