body { 
	margin:0; 
	padding:0; 
	font-size:12px; 
	font-family:Volkhov; 
	color: #555555;
	background: #FFFFFF;
	}

body a{ 
	color: #555555;
	}
	
#site_header_wrapper { 
	background-image: linear-gradient(bottom, #EEE 7%, #F7F7F7 54%);
	background-image: -o-linear-gradient(bottom, #EEE 7%, #F7F7F7 54%);
	background-image: -moz-linear-gradient(bottom, #EEE 7%, #F7F7F7 54%);
	background-image: -webkit-linear-gradient(bottom, #EEE 7%, #F7F7F7 54%);
	background-image: -ms-linear-gradient(bottom, #EEE 7%, #F7F7F7 54%);
	height: 70px;
	margin: 0;
	width: 100%;
	border-bottom: 1px solid #DDD;
}

#site_header {
    width: 100%;
}

#site_header text{
    color: #555555;
    text-shadow: 3px 0 8px white;
    font-size	: 14px;
}
#site_header a{
	font-size: 14px;
	text-shadow: 3px 0 8px white;
	text-decoration: none;
	background: white;
	padding: 1px 20px;
	border: 1px solid #DDD;
	margin-left: 10px;
    -webkit-transition	: all .3s ease-in-out;
    -moz-transition		: all .3s ease-in-out;
    -o-transition		: all .3s ease-in-out;
}

#site_header a:hover{
    box-shadow	: 0 0 5px #999999;
}

#logout {
	margin-right: 20px;
	margin-top: -43px;
	text-align: right;
}

#site_title {
    color: #575757;
    text-shadow: 3px 0 8px white;
    font-size: 50px;
	margin: 20px 30px;
}


#site_body {
	margin		: auto;
	width		: 100%;
}
#navigation {
	margin: auto;
	width: 1024px;
}

#menu_home:hover,
#menu_albums:hover,
#menu_artists:hover,
#menu_add_music:hover,
#menu_search:hover {
	background		: #f7f7f7;
}
	
#searchBox {
	margin-top: 6px;
	width: 215px;
	padding-left: 5px;
	color: #888;
	border: 1px solid #DDD;
	height: 19px;
}
.nav_button {
	height: 100%;
	margin: auto;
	width: 1024px;
	text-align	: center;
	font-size: 14px;
}

#menu_home,
#menu_albums,
#menu_artists,
#menu_add_music,
#menu_search {
	background: #FFFFFF;
	display		: inline-block;
	margin: 10px -2px 0px -2px;
	text-decoration: none;
	text-align: center;
	text-shadow: 0 0 1px #999999;
	width: 200px;
	cursor		: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.nav_button a:hover {  
	text-shadow: 0 0 1px #777777;
}

.nav_button_albums  {
	background	: #f7f7f7;
	margin		: -1px auto;
	width		: 1024px;
	text-align	: center;
	font-size	: 14px;
	position	: fixed;
	margin-left: -420px;
}


.nav_button_artists  {
	background	: #f7f7f7;
	margin		: -1px auto;
	width		: 1024px;
	text-align	: center;
	font-size	: 14px;
	position	: fixed;
	margin-left: -210px;
}

.nav_button_add,
.nav_button_search  {
	background	: #f7f7f7;
	margin		: -1px auto;
	width		: 400px;
	text-align	: center;
	font-size	: 14px;
	position	: fixed;
	height		: 40px;
}

.sub_menu_link{
	display: inline-block;
	margin: -1px -2px;
	text-decoration: none;
	text-align: center;
	text-shadow: 0 0 1px #999999;
	padding: 15px 13px;
	cursor		: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.sub_menu_link:hover{  
	text-shadow: 0 0 2px #777777;
}
#welcome {
	font-size: 350px;
	font-family: 'Kelly Slab';
	color: #FFFFFF;
	text-shadow: 0 0 12px black;
}

#message {
	width: 700px;
	margin: auto;
	text-align: center;
	font-size: 30px;
	padding: 165px;
	background: #F2f2f2;
}

#page_header {
    color: #10448C;
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom	: 20px; 
    display		: inline;
}

#content {
    margin: 40px 30px 10px;
    padding-bottom: 130px;
}

#nav_headers {
	margin-top: 60px;
	padding: 10px;
	border-bottom: 1px solid #EEE;
	}
	
.nav_header_albums,
.nav_header_artists {
	font-size: 13px;
	padding: 10px 50px;
	background: #F7F7F7;
	margin: 10px;
	border-top	: 1px solid #EEEEEE;
	border-right	: 1px solid #EEEEEE;
	border-left	: 1px solid #EEEEEE;
}

.nav_header_albums.selected,
.nav_header_artists.selected {
	background: #FFFFFF;
	border-bottom: 1px solid white;
	}

.header_button {
    height: 100%;
}

.header_button a {
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #CCCCCC;
    color: #666666;
    font: bold 16px arial,sans-serif;
    margin: 7px 0;
    padding: 4px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 160px;
}

.header_button a:hover {  
    border: 1px solid #848181;
    }
        
.form th {
	text-align:right;
	vertical-align:top;
}

.form td {
	vertical-align:top;
}

.odd {
	background-color: #FFFFFF;
}

.even {
	background-color: #f1f1f1;
	}	

 
#submit_button{
 	background		: #898989;
 	color			: #FFFFFF;
 	border			: none;
 	padding			: 3px;
 	box-shadow			: 0 0 1px #000000;
 	-moz-box-shadow		: 0 0 1px #000000;
 	-webkit-box-shadow	: 0 0 1px #000000;
 }
 
#submit_button:hover {
 	box-shadow			: 0 0 3px #000000;
 	-moz-box-shadow		: 0 0 3px #000000;
 	-webkit-box-shadow	: 0 0 3px #000000;
 	background			: #707070;
 	
 }
 
#show_hide_drives_list {
	display	: inline;
}

#hide_drive_list,
#show_drive_list  {
	display 	: inline;
	color		: #4C79B5;
	cursor		: pointer;
}

#delete_option {
	cursor		: pointer;
}

#login_form {
	width: 100%;
	color: #555555;
	height: 480px;
	padding-top: 100px;
	border-top: 1px solid white;
}

#login_form form{
	text-align: center;
	width: 420px;
	margin: auto;
	padding: 164px 200px;
	border: 1px solid #CCC;
	background: white;
	box-shadow: 0 0 100px #999;
}

#login_form label {
	font-size	: 22px;
}

input:-webkit-autofill {
	background: #f7f7f7 !important;
}

#login_form table input {
	width: 220px;
	height: 30px;
	font-size: 19px;
	background: #FFFFFF !important;
	box-shadow: 0 0 15px #ddd inset;
	padding: 0px 5px;
	border: 1px solid #CCC;
	color		: #555555;
}

#login_form p {
	color: #04275E;
	padding: 5px 27px;
}

#login_form tr {
	height	: 40px;
}

#login_form td {
	text-align: left;
	white-space: nowrap;
}

#general_a_button {
	background-image: linear-gradient(bottom, #EEEEEE 7%, #f7f7f7 54%);
	background-image: -o-linear-gradient(bottom, #EEEEEE 7%, #f7f7f7 54%);
	background-image: -moz-linear-gradient(bottom, #EEEEEE 7%, #f7f7f7 54%);
	background-image: -webkit-linear-gradient(bottom, #EEEEEE 7%, #f7f7f7 54%);
	background-image: -ms-linear-gradient(bottom, #EEEEEE 7%, #f7f7f7 54%);
	border: 1px solid #DDD;
	padding: 4px 60px;
	width: 200px;
	cursor: pointer;
	color: #666;
	font-size: 14px;
	margin: 2px 6px;
	text-decoration	: none;
}

#general_a_button:hover {
 	box-shadow			: 0 0 3px #555555;
 	-moz-box-shadow		: 0 0 3px #555555;
 	-webkit-box-shadow	: 0 0 3px #555555;
 	
 }
 
.errorlist {
	color: #8D2100;
	padding-left: 2px;
	margin-top: 0px;
	list-style	: none;
}

#status_message {
	background: #FFC;
	width: 1024px;
	margin: auto;
	font-size: 18px;
	text-align: center;
	height: 30px;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
	margin-top: 20px;
	padding-top: 5px;
}

#status_message.good {
	background: #FFC;
}

#status_message.bad {
	background: #f26c4f;
	color		: #FFFFFF
}
.confirmation p {
	margin-top: 200px;
	padding: 80px;
	font-size: 20px;
	color: #8D2100;
	border: 1px solid #F2F2F2;
	width: 500px;
}

#footer_wrapper {
	bottom			: 0;
	color			: #FFFFFF;
    height			: 110px;
    width			: 100%;   
    z-index			: 2; 
    position		: fixed;
}

#footer {
	bottom: 0;
	color: white;
	height: 112px;
	width: 1440px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"] {
	background-image: linear-gradient(bottom, #EEEEEE 7%, #f7f7f7 54%);
	background-image: -o-linear-gradient(bottom, #EEEEEE 7%, #f7f7f7 54%);
	background-image: -moz-linear-gradient(bottom, #EEEEEE 7%, #f7f7f7 54%);
	background-image: -webkit-linear-gradient(bottom, #EEEEEE 7%, #f7f7f7 54%);
	background-image: -ms-linear-gradient(bottom, #EEEEEE 7%, #f7f7f7 54%);
	border: 1px solid #ddd;
	padding: 4px;
	width: 200px;
	cursor: pointer;
	color: #666666;
	font-size: 14px;
	margin	: 2px 6px;
}

input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="file"]:hover {
	box-shadow	: 0 0 2px #555555;
}
/* Rounded Corners */
               
.round-top{
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
}

.rounder-top{
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}

.roundest-top{
    -moz-border-radius-topleft: 12px;
    -moz-border-radius-topright: 12px;
    -webkit-border-top-left-radius: 12px;
    -webkit-border-top-right-radius: 12px;
}

.round {
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
}

.rounder {
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

.roundest {
    -moz-border-radius-topleft: 12px;
    -moz-border-radius-topright: 12px;
    -webkit-border-top-left-radius: 12px;
    -webkit-border-top-right-radius: 12px;
    -moz-border-radius-bottomleft: 12px;
    -moz-border-radius-bottomright: 12px;
    -webkit-border-bottom-left-radius: 12px;
    -webkit-border-bottom-right-radius: 12px;
}