.theme_white button#next_page,
.theme_white button#prev_page {
	background: #F7F7F7;
	border: none;
	bottom: 0;
	font-size: 40px;
	padding: 0;
	position: absolute;
	margin: 0;
	max-width: 150px;
	min-width: 90px;
	top: 0px;
	z-index: 5;
}

.theme_white button#next_page:hover,
.theme_white button#prev_page:hover {
	background: #DDDDDD;
}

.theme_black button#next_page,
.theme_black button#prev_page {
	background: #333333;
	border: none;
	bottom: 0;
	font-size: 40px;
	padding: 0;
	position: absolute;
	margin: 0;
	max-width: 150px;
	min-width: 90px;
	top: 0px;
	z-index: 5;
}

.theme_black button#next_page:hover,
.theme_black button#prev_page:hover {
	background: #555555;
}


.theme_red button#next_page,
.theme_red button#prev_page {
	background: #680018;
	border: none;
	bottom: 0;
	font-size: 40px;
	padding: 0;
	position: absolute;
	margin: 0;
	max-width: 150px;
	min-width: 90px;
	top: 0px;
	z-index: 5;
}

.theme_red button#next_page:hover,
.theme_red button#prev_page:hover {
	background: #930020;
}

#albums, 
#artists{
	margin	: auto;
}

#albums{
	margin-top	: 30px;
}

#album_settings {
	float		: right;
	padding		: 2px 25px;
	border		: 1px solid #dddddd;
	box-shadow	: 0 0 10px #dddddd;
	position: fixed;
	right: 40px;
	background	: #fafafa;
}

#album_settings:hover {
	box-shadow	: 0 0 10px #999999;
}

#album_settings.selected {
	box-shadow	: 0 0 30px #dddddd inset;
}

#song_column_selectors {
	float		: right;
	border		: 1px solid #dddddd;
	position	: fixed;
	right		: 40px;
	display		: none;
	width		: 170px;
	color		: #999999;
	margin-top	: 29px;
	margin-left	: 15px;
	background	: #fafafa;
}

#song_column_selectors .selected {
	color		: #555555;	
}

#song_column_selectors .selected .checked {
	background-image: url('/static/images/checkmark.png');
	background-repeat: no-repeat;
}

#song_column_selectors .checked {
	display: inline-block;
	width: 21px;
	height: 16px;
	padding: 0px 5px;
}


.select_artist, 
.select_genre, 
.select_rating, 
.select_file_size, 
.select_length {
	cursor	: pointer;	
	cursor: pointer;
	padding: 3px 5px;
}

.select_artist:hover, 
.select_genre:hover, 
.select_rating:hover, 
.select_file_size:hover, 
.select_length:hover {
	background	: #f2f2f2;
}

#albums a,
#artists a {
    color: #1E5AA8;
    font-family: tahoma;
    font-size: 20px;
    text-decoration: none;
}
    
#albums a:hover,
#artists a:hover {
	text-decoration	: underline;
}    

.nav_header {
	font-size: 16px;
}

.album {
    display: inline-block;
    font-size: 10px;
    height: 150px;
    width: 170px;
    text-align: center;
	padding : 5px;
}

.theme_black .album:active,
.theme_white .album:active,
.theme_red .album:active {
	box-shadow	: none;
}
.album text {	
	color	: #999999;
}

.theme_white #album h1 {
	font-size: 16px;
	background: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#000));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.theme_black #album h1 {
	font-size: 16px;
	background: -webkit-gradient(linear, left top, left bottom, from(#CCC), to(#FFF));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.theme_red #album h1 {
	font-size: 16px;
	color: white;
}

.album h1,
.current_album h1 {
    font-size: 11px;
    font-weight: normal;
    margin: 6px 8px 0 0;
    overflow: hidden;
    white-space: nowrap;
}
.album h2,
.current_album h2 {
    font-size: 11px;
    font-weight: normal;
    margin: 2px 2px 0 0;
    overflow: hidden;
    white-space: normal;
}

.album h2:hover,
.current_album h2:hover {
    text-decoration : underline;
    cursor			: pointer;
}
.album h3,
.current_album h3 {
    font-size: 10px;
    font-weight: normal;
    margin: 4px 2px 0 0;
    overflow: hidden;
    white-space: nowrap;
}

.year:hover {
	text-decoration	: underline;
	cursor		:pointer;
	}
	
.genre:hover {
	text-decoration	: underline;
	cursor		:pointer;
	}
	
.artist_album {
    display: inline-block;
    font-size: 10px;
    height: 100px;
    width: 0px;
    -webkit-transform-origin-x: 39px;
	-webkit-transform-origin-y: 39px;
    -moz-transform-origin: 39px 39px;
}

.artist_album img {
	width: 80px;
	height: 80px;
	margin: -1px;
}

.artist_info {
	padding-left: 2px;
	vertical-align: top;
	display: inline-block;
	white-space: normal;
	width: 115px;
	margin-top: 30px;
}
	
.artist_info h1 {
    font-size: 12px;
    font-weight: normal;
    margin: 6px 8px 0 0;
    overflow: hidden;
    white-space: normal;
}

.artist_info h1:hover{
    text-decoration : underline;
    cursor			: pointer;
}

.artist_info h2 {
    font-size: 10px;
    font-weight: normal;
    margin: 2px 2px 0 0;
    white-space: normal;
}


.artist_info h3 {
    font-size: 10px;
    font-weight: normal;
    margin: 4px 2px 0 0;
    overflow: hidden;
    white-space: nowrap;
}

.album_art_wrapper {
	height: 80px;
	margin: 28px;
	width: 80px;
	display: inline-block;
}
	
.artist_albums {
	width: 255px;
	white-space: normal;
	height: 135px;
	display: inline-block;
	margin-right: 10px;
}

.theme_black .artist_albums:active,
.theme_white .artist_albums:active,
.theme_red .artist_albums:active {
	box-shadow	: none;
}

.current_album	{
	width: 270px;
	display: inline-block;
	vertical-align: top;
	margin: 70px 15px;
	text-align	: center;
}
#curr_album_img_div {
	box-shadow: 0 0 10px #999999;
	width: 200px;
	margin: auto;
}
		
#curr_album_img_div img{
	width: 200px;
	height: 200px;
}
#img_div {
	width: 79px;
	height: 79px;
	overflow: hidden;
	box-shadow: 0 0 10px #999;
}

.album #img_div {
	width: 79px;
	height: 79px;
	overflow: hidden;
	box-shadow: 0 4px 10px #555555;
	margin: auto;
}

#img_div:hover {
	box-shadow: 0 0 10px #555;
	cursor		: pointer;
}

#album {
	margin: 30px auto 0px auto;
	width	: 100%;
	white-space: nowrap;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.album img {
	width: 80px;
	height: 80px;
	margin: -1px;
}

#songs #current_album_songs {
	width	: 90%;
	margin-left: 25px;
}

#current_album_songs {
	border-spacing: 0;
	display: inline-block;
	margin-top: 30px;
	width: 75%;
	}

#song_table_wrapper {
	overflow: auto;
}
	
table#song_table {
	text-align	: left;
	border-spacing: 0px;
	font-family: Roboto Condensed;
	width: 100%;
}
	
.theme_white #song_table {
	text-shadow: 1px 0px 1px #fff;
}

.theme_black #song_table {
	text-shadow: 0 0 1px #000;
	background: rgba(22, 22, 22, 0.46);
}

.theme_red #song_table {
	text-shadow: 1px 0px 1px #fff;
	background: rgba(14, 14, 14, 0.33);
}

#current_album_songs #song_table_header th {
	font-size: 15px;
	height: 32px;
}

#current_album_songs #song_table tr {
	height: 20px;
}

.theme_white #current_album_songs #song_table_header {
 	background: rgb(247,247,247); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.theme_black #current_album_songs #song_table_header {
 	padding-top		: 10px;
 	padding-bottom	: 7px;
	background: #eeeeee; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #eeeeee 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #eeeeee 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #eeeeee 0%,#eeeeee 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #eeeeee 0%,#eeeeee 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #eeeeee 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	text-shadow: 0 0 1px #fff;
	color: #000;
}


.theme_red #current_album_songs #song_table_header {
 	padding-top		: 10px;
 	padding-bottom	: 7px;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	color			: #6D0019;
}

#current_album_songs .song_table_field {
 	text-align		: left;
	vertical-align: middle;
}

.theme_white #current_album_songs .song_table_field {
	/*border-bottom	: 1px solid #cccccc;*/
}
.theme_black #current_album_songs .song_table_field {
}
.theme_red #current_album_songs .song_table_field {
}

.theme_white #current_album_songs .songs{
	cursor		: pointer;
	background	: #fafafa;
}

.theme_white #current_album_songs .songs:hover {
	color		: #333333;
	background	: #f1f1f1;
}

.theme_black #current_album_songs .songs{
	cursor: pointer;
	color: rgb(201, 201, 201);
}

.theme_black #current_album_songs .songs:hover {
	color: rgb(255, 255, 255);
	background: rgba(17, 17, 17, 0.48);
}


.theme_red #current_album_songs .songs{
	cursor: pointer;
	color: white;
	background: transparent;
	text-shadow: 0 0 2px #000;
}

.theme_red #current_album_songs .songs:hover {
	color: rgb(248, 108, 140);
	background: rgba(22, 2, 2, 0.37);
}


.title_column,
.artist_column,
.genre_column,
.rating_column,
.play_column,
.add_column,
.file_size_column,
.length_column {
 	padding-left	: 5px;
}


#current_album_songs .now_playing{
	padding: 5px;
	cursor: pointer;
	color: black;
	background: #DDD;
}


#playlist_button_wrapper {
	margin: auto;
	width: 100%;
	background: white;
	box-shadow: 0px -1px 5px #DDDDDD;
}

.playlist_button {
	width: 180px;
	font-size: 14px;
	margin	: 2px 6px;
}

.playlist_button:hover {
}

#close_button {
	padding: 1px 4px;
	margin: 2px 6px;
	float: right;
	width: 15px;
}

#close_button:hover {
}


#play_album_button {
	margin-top: 15px;
}

#delete_album_button {
}

#play_album_button:hover,
#delete_album_button:hover  {
}

#rebuild_button {
	width: 140px;
	margin	: 2px 6px;
	float	:right;
}

#rebuild_button:hover {
}

.theme_red #rebuild_button {
	color: #820224;
}

.theme_red #rebuild_button:hover {
	box-shadow : 0 0 4px #999999;
}

.ratings {
	display	: inline-block;
	float: left;
	height: 21px;
	width: 21px;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;	
}

.unrated {
	background : url('/static/images/rating_blank.jpg')
}

.rated {
	background : url('/static/images/rating_selected.jpg')
}

.rated:hover,
.unrated:hover {
	background : url('/static/images/rating_highlighted.jpg')
}

.play_song_button {
	height: 20px;
	background-image: url('/static/images/play_button.png');
	background-repeat: no-repeat;
	vertical-align: baseline;
	background-position: 5px 0px;
	width: 32px;
	background-color: #eeeeee;
	border: 1px solid #ddd;
}


.add_song_button {
	height: 20px;
	background-image: url('/static/images/add_button.png');
	background-repeat: no-repeat;
	vertical-align: baseline;
	background-position: 1px 0px;
	width: 32px;
	background-color: #eeeeee;
	border: 1px solid #ddd;
}


.download_song_button {
	height: 22px;
	vertical-align: baseline;
	background-color: #eeeeee;
	border: 1px solid #ddd;
	padding: 0px 23px;
	width: 20px;
}

.theme_black .download_song_button,
.theme_black .add_song_button,
.theme_black .play_song_button {
	border: none;
	background-color: transparent;
}

.theme_red .download_song_button,
.theme_red .add_song_button,
.theme_red .play_song_button {
	border: none;
	background-color: transparent;
}

#upload_content {
	width: 1024px;
	margin: 30px auto;
	text-align: center;
	padding: 100px;
}

#upload_content label{
	font-size: 16px;
}