body { 
    margin:0; 
    padding:0; 
    font-size:11px; 
    font-family:"Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif; 
    color:black;
    background: white 
    }

.site-header { 
    background: none repeat scroll 0 0 #F1F1F1;
    color: #575757;
    margin: 0;
    padding: 10px 10px 10px 20px;
}

#page_header {
    color: #10448C;
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom  : 20px; 
    display     : inline;
}

#content {
    padding-left: 22em;
    padding-top: 2em;
}

.nav_header {
    font-size   : 18px;
    font-weight : bold;
    color       : #7FAD35;
}
    
.nav_button {
    height: 100%;
    padding-left: 20px;
    width: 222px;
    float   : left;
}

.nav_button a {
background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

    border: #ccc 1px solid;
    color: #333;
    display: block;
    font-size: 12px;
    margin: 7px 0;
    padding: 4px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 120px;
}

.nav_button a:hover {  
    border: 1px solid #bbbbbb;
    }
    
.header_button {
    height: 100%;
}

.header_button a {
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #CCCCCC;
    color: #666666;
    font: bold 16px arial,sans-serif;
    margin: 7px 0;
    padding: 4px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 160px;
}

.header_button a:hover {  
    border: 1px solid #848181;
    }
        
.form th {
    text-align:right;
    vertical-align:top;
}

.form td {
    vertical-align:top;
}

.odd {
    background-color: #FFFFFF;
}

.even {
    background-color: #f1f1f1;
    }   

table {
    border-spacing : 0px;
    width           : 100%;
    margin-bottom   : 20px;
}

table th {
    text-align      : left;
    padding         : 10px;
}

table td {
    text-align      : left;
    padding         : 3px 10px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #dddddd;
}
 
table tr:hover {
    background      : #FFFFCC;
}

table tr:nth-child(even) {background: #eeeeee}
table tr:nth-child(odd) {background: #fafafa}

#submit_button{
    background: #CCC;
    color: black;
    border: none;
    padding: 2px 30px;
    box-shadow: 0 0 1px #000000;
    -moz-box-shadow: 0 0 1px #000000;
    -webkit-box-shadow: 0 0 1px #000000;
 }
 
#submit_button:hover {
    box-shadow          : 0 0 3px #000000;
    -moz-box-shadow     : 0 0 3px #000000;
    -webkit-box-shadow  : 0 0 3px #000000;
    background          : #707070;
    color               : #FFFFFF;
 }
 
#show_hide_drives_list {
    display : inline;
}

#hide_drive_list,
#show_drive_list  {
    display     : inline;
    color       : #4C79B5;
    cursor      : pointer;
}

#delete_option {
    cursor      : pointer;
}

button {
    font-family: Roboto Condensed;
    border: none;
    padding: 4px;
    cursor: pointer;
    width: 200px
}

button:hover {
    box-shadow: 0 0 5px #999999;
}