<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
	    <title>{% block title %}Music{% endblock %}</title>
	    <link href='http://fonts.googleapis.com/css?family=Volkhov' rel='stylesheet' type='text/css'>
	    <link href='http://fonts.googleapis.com/css?family=Kelly+Slab' rel='stylesheet' type='text/css'>
	    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
	    <link rel="stylesheet" type="text/css" href="/static/css/music.css" />
	    <link type="text/css" href="/static/css/jplayer.blue.monday.css" rel="stylesheet" />
	    <script src="/static/javascript/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	    <script src="/static/javascript/lib/jquery.jplayer.min.js" type="text/javascript" charset="utf-8"></script>
	    <script src="/static/javascript/lib/jplayer.playlist.min.js" type="text/javascript" charset="utf-8"></script>
	    <script src="/static/javascript/music.js" type="text/javascript" charset="utf-8"></script>
	    <script type="text/javascript">
	    $(document).ready(function(){

		    //HANDLE url changes
		    $(window).bind( 'hashchange', function(){handle_hash()});
		    handle_hash();

		    //HANDLE jPlayer size
			//var new_width = $(window).width() - 316
			//$('.jp-mute').css('margin-left', new_width+'px')
		    //$(window).resize(function() {
			//  var new_width = $(window).width() - 316  
			//  $('.jp-mute').css('margin-left', new_width+'px')
			//});
			
		    $('#menu_albums').hover( function(){
			    $('.nav_button_albums').slideDown(); 
			    $('.nav_button_add').slideUp(); $('.nav_button_artists').slideUp();
			    });
		    $('#menu_artists').hover( function(){
			    $('.nav_button_artists').slideDown(); 
			    $('.nav_button_add').slideUp(); $('.nav_button_albums').slideUp();
			    });
		    $('#menu_add_music').hover( function(){
			    $('.nav_button_add').slideDown(); 
			    $('.nav_button_albums').slideUp(); $('.nav_button_artists').slideUp();
			    });
		    

		   $(window).click(function(){$('.nav_button_add').slideUp(); $('.nav_button_artists').slideUp(); $('.nav_button_albums').slideUp()} )
			  
	    	PLAYLIST = new jPlayerPlaylist({
	    		jPlayer: "#jquery_jplayer_1",
	    		cssSelectorAncestor: "#jp_container_1"
	    	},  [], {
	    		swfPath: "/static/javascript/",
	    		supplied: "oga, mp3",
	    		solution: "flash, html"
	    	});
	    	$(document.documentElement).keyup(function (event) {
	    		if (event.keyCode == 32) {
		    		if(NOW_PLAYING){
		    		    PLAYLIST.pause();
		    			NOW_PLAYING = false
		    		}
		    		else{
			    		PLAYLIST.play();
			    		NOW_PLAYING = true
	    		  	}
	    		}
	    		else if (event.keyCode == 78) {
		    		if(PLAYLIST){
		    		    PLAYLIST.next();
		    		}
	    		}
	    		});
	    });
	    </script>
	    {% block head %}{% endblock %}
	    {% block extrahead %}{% endblock %}
	    
	</head>
	<body>
		<div id="site_header_wrapper">
			<div id="site_header">
				<qtext id="site_title">Q Music</qtext>
		   		{% if request.user.is_authenticated  %}
		   		<div id="logout">
		   			<text>Logged In : {{request.user.username.upper}}</text>
		   			<a href="/logout">Logout</a>
		   		</div>
		    	{% endif %}</text>
		    </div>
		</div>
		<div id="site_body">
			<div id="navigation">
				<div class=nav_button>
					<a href="/" >Home</a>
					<atext id="menu_add_music">Add Music</atext>
					<atext ondblclick="location.href='#/artists/all'" id="menu_artists">Artists</atext>
					<atext ondblclick="location.href='#/albums/all'" id="menu_albums">Albums</atext>
				</div>
				<div class="nav_button_albums" style="display:none;">
					{% for letter in letter_list %}
						<atext onclick="location.href='/#/albums/{{letter}}'">{{letter}}</atext>
					{% endfor %}
				</div>
				<div class="nav_button_artists" style="display:none;">
					{% for letter in letter_list %}
						<atext onclick="location.href='/#/artists/{{letter}}'">{{letter}}</atext>
					{% endfor %}
				</div>
				<div class="nav_button_add" style="display:none;">
					<btext onclick="add_music('add')">Add New</btext>
					<btext onclick="add_music('rebuild')">Rebuild DB</btext>
					<btext onclick="location.href='/add_music/upload/'">Upload</btext>
				</div>
			</div>
			{% block content %}
			<div id=content>
				<center><text id="welcome">Q</text></center>
			</div>
			{% endblock %}
			</div>
			<div id="footer_wrapper">
				<div id="footer">
				</div>
			</div>
	</body>
</html>