<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
	    <title>{% block title %}Music{% endblock %}</title>
	    <link href='http://fonts.googleapis.com/css?family=Volkhov' rel='stylesheet' type='text/css'>
	    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
	    <script src="/static/javascript/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
<body>
<div id="site_header_wrapper">
	<div id="site_header">
		<qtext id="site_title">Q Music</qtext>
   		{% if request.user.is_authenticated  %}
   		<div id="logout">
   			<text>Logged In : {{request.user.username.upper}}</text>
   			<a href="/logout">Logout</a>
   		</div>
    	{% endif %}</text>
    </div>
</div>
	<div id="login_form">
		{% if message %}
			<p>{{ message }}</p>
		{% endif %}
		<form method="post" action=""  autocomplete="off">
			<table>
				<tr><td><label>Your Name OAF? </label></td><td>{{ form.username }}</td></tr>
				<tr><td><label>How Can I be SURE? </label></td><td>{{ form.password }}</td></tr>
			</table>
		<input type="hidden" name="home" value="home" />
		<input style="padding: 5px 50px 5px 50px; margin-top: 20px" type="submit" value="Login" />
		</form>
			</div>
	</body>
</html>